* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: 
        linear-gradient(rgba(15,32,39,0.75), rgba(44,83,100,0.85)),
        url('background.jpeg');

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
}

.logo {
    width: 150px;
    height: auto;
}
.logo-container {
    text-align: center;
    margin-top: 20px;
    filter: brightness(0) invert(1); 
}
.logo-text {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.nav-links a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00f7ff;
}

/* HERO */
.hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    margin-top: 10px;
    font-size: 20px;
    opacity: 0.9;
}

/* CLUBS */
.clubs {
    padding: 60px 40px;
    text-align: center;
}

.clubs h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
    width: 260px;
    padding: 25px;
    backdrop-filter: blur(8px);
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-15px) scale(1.03);
}

.card img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #00f7ff;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    opacity: 0.8;
}

.card a {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: #00f7ff;
    color: black;
    border-radius: 20px;
    text-decoration: none;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.4);
    margin-top: 40px;
}
